<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- 字符编码 -->
  <meta charset="utf-8">
  <!-- IE兼容模式 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="海风教育,一对一辅导,一对一家教,在线一对一辅导,海风教育自主招生,自主招生辅导,初中在线补习，初中在线辅导，初中在线辅导班,初中一对一家教辅导,高中在线补习，高中在线辅导，高中在线辅导班,高中一对一家教辅导,小学家教,初中家教,高中家教,高考辅导,中考辅导">
  <meta name="description" itemprop="description" content="海风教育—中小学真人在线1对1辅导.创立于2010年，现有学科辅导和升学辅导两大课程体系，始终专注为每个学生订制专属学习方案.让孩子足不出户高效学习">
  <!-- 手机端兼容 -->
  <meta itemprop="name" content="海风教育">
  <meta itemprop="image" content="//s-www.hfjy.com/pc/images/mb-ico.png">
  <meta name="robots" content="nofollow" />
  <!-- 文件将不被检索，页面上的链接可以被查询。  -->
  <!-- 2018.7 -->
  <meta name="baidu-site-verification" content="tt2sDWUxfK" />
  <meta name="360-site-verification" content="0ee4ecd31f2ce0a17e6abaa4f272a31f" />
  <meta name="sogou_site_verification" content="9EGQiIYYVp" />
  <script type="text/javascript">
    (function () {
      function w() {
        var r = document.documentElement
        var a = r.getBoundingClientRect().width
        if (a > 750) {
          a = 750
        }
        rem = a / 7.5
        r.style.fontSize = rem + 'px'
      }
      var t
      w()
      window.addEventListener('resize', function () {
        clearTimeout(t)
        t = setTimeout(w, 300)
      }, false)
    })()
  </script>
</head>

<body>


</body>

</html>